<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(255,255,255,255)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>This is a list of <strong>all my movies</strong>!</h1>
  </div>
</div>
<div class="container-fluid m-6">
<%= link_to  "Create a new list", new_list_path, class: "btn btn-success" %>
</div>
<div class="container-fuild">
  <div class="d-flex align-items-center">
    <% @lists.each do |list| %>
    <% if list.photo.attached? %>
      <div class="shadow p-5 m-3 col rounded-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 200, crop: :fill %>')">
    <% else %>
      <div class="shadow p-5 m-3 col" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>')">
    <% end %>
        <%= link_to list.name, list_path(list), class: "fw-bold text-white" %>
      </div>
    <% end %>
  </div>
</div>
